<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PreprocessorSymbols" value="__SCT__"/>
		<add key="inputDirectory" value="D:\code\IFConverterAComm.cs"/>
		<add key="outputFile" value="D:\variable.csv"/>
		<add key="FileType" value="*.cs"/>
	</appSettings>
</configuration>